[submodule "LibSimpleWidgets"]
	path = LibSimpleWidgets
	url = git://git.curseforge.net/rift/libsimplewidgets/mainline.git
[submodule "Libs/LibSimpleWidgets"]
	path = Libs/LibSimpleWidgets
	url = git://git.curseforge.net/rift/libsimplewidgets/mainline.git
